:root {
	/* lägg till varibaler med färger här */
	--clr-dark: #000000;
	--clr-light: #FFFFFF;
	--clr-grey: #DFDFDF;
	--clr-gold: #FFDE00;
	--clr-darkgold: #D5A100;
	--clr-blue: #0075BE;
	--clr-darkblue: #0A285F;
	--clr-red: #FF0000;

	/* --clr-red: rgb(255, 0, 0) */
}

*,
::before
::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	line-height: calc(1em + 0.5rem);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Pixelify Sans', sans-serif;
	background-color: var(--clr-blue);
}

img,
picture,
svg,
canvas {
	max-width: 100%;
	user-select: none;
}

/* removes all default styles */
button {
	display: inline-block;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	color: inherit
}
/* code for start screen starts here */
.first {
	display: none;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ready {
	text-align: center;
	color: var(--clr-darkgold);
	font-size: 2.5rem;
	letter-spacing: 0.12em;
}

.instructions {
	text-align: center;
	color: var(--clr-gold);
	letter-spacing: 0.14em;
	margin-top: 4em;
}

#enter-team-name {
	background-color: var(--clr-red);
	margin-top: 1em;
	border-radius: 8px;
	height: 3em;
	width: 16em;
	font-size: 1em;
	text-align: center;
	color: var(--clr-light);
	font-family: 'Pixelify Sans', sans-serif;
	font-weight: 600;
}
#enter-team-name::placeholder {
	font-family: 'Pixelify Sans', sans-serif;
	font-weight: 600;
	color: var(--clr-light);
}

.start-adventure {
	margin: 3rem 0 3rem;
	width: 20em;
	opacity: 0.9;
}

.start-adventure:hover {
	opacity: 1;
}


/* code for chosen champions starts here */

.team-name {
	
}

.btn-container {
	display: flex;
	justify-content: center;
}

/* use this class to style all <ol> */
.pokedex {
	padding-inline-start: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1em;
	margin: 0 1em 0 1em;
}

/* use this class to style all <li> elements */
.poke-card {
	text-transform: uppercase;
	text-align: center;
	border: 1px solid red;
	background-color: var(--clr-light);
}

.card-image {
	
}

.card-title {

}

.card-subtitle {
	color: grey;
}

.promote{
	margin: 1em 0 1em;
}

.kick {
	margin: 1em 0 1em;
}
