:root {
	--clr-dark: #000000;
	--clr-light: #FFFFFF;
	--clr-grey: #b1b1b1;
	--clr-gold: #FFDE00;
	--clr-darkgold: #D5A100;
	--clr-blue: #0075BE;
	--clr-darkblue: #0A285F;
	--clr-red: #FF4500;

	/* --clr-red: rgb(255, 0, 0) */
	/* --clr-darkgold 	rgb(213, 161, 0) */
}

*,
::before
::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	line-height: calc(1em + 0.5rem);
}

body {
	font-family: 'ArcadeClassic', sans-serif;
	background-color: var(--clr-blue);
	/* overflow-x: hidden; */
}

img,
picture,
svg,
canvas {
	max-width: 100%;
	user-select: none;
}

/* removes all default button styles */
button {
	display: inline-block;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	color: inherit
}

/* two hide classes to use in JavaScript */
.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}
/* code for start screen starts here */

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ready {
	margin-top: 0.5em;
	text-align: center;
	color: var(--clr-red);
	font-size: 2rem;
	letter-spacing: 0.11em;
	text-shadow: 2px 2px 4px rgb(68, 70, 70);
}

.instructions {
	text-align: center;
	font-size: 1.1rem;
	color: var(--clr-gold);
	letter-spacing: 0.1em;
	margin-top: 2em;
}

#enter-team-name, #enter-team-name::placeholder  {
	background-color: var(--clr-blue);
	letter-spacing: 0.11em;
	text-align: center;
	margin-top: 1em;
	border-radius: 8px;
	width: 16em; 
	font-size: 1.1rem;
	color: var(--clr-red);
	font-family: 'ArcadeClassic', sans-serif;
	border: none;
}

.start-adventure {
	margin-top: 1rem;
	width: 20em;
	opacity: 0.8;
}

.start-adventure:hover {
	opacity: 1;
}

/* code for chosen champions starts here */
.champ-message-box, .dex-message-box, .reserve-message-box {
	position: fixed;
	background-color: var(--clr-darkblue);
    left: 0;
    right: 0;
	z-index: 1;
}
.message {
	text-align: center;
	color: var(--clr-gold);
	navfont-size: 1.5rem;
	letter-spacing: 0.11em;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
}

.team-status-message {
	color: var(--clr-red);
	letter-spacing: 0.12em;
	margin-top: 0.5em ;
	font-size: 1.4rem;
}

.team-name {
	color: var(--clr-gold);
	font-size: 1.8rem;
	letter-spacing: 0.1em;
	border-top: dashed var(--clr-gold);
	border-bottom: dashed var(--clr-gold);
	text-align: center;
	margin-top: 0.5em;
}

.move-pokemon {
	margin: 1em 0 1em;
}

.save-nickname {
	margin-top: 1em;
}

.navbar{
	text-align: center;
}

.navbar button {
	margin-left: 1em;
	margin-top: 1em;
}

.reset-names-btn {
	letter-spacing: -0.05em;
	font-weight: 600;
	background-color: var(--clr-darkgold);
	color: var(--clr-darkblue);
	padding: 0.5em 1em;
	border-radius: 6px;
	transition: box shadow 0.3s;
}

.reset-names-btn:hover{
	background-color: var(--clr-darkblue);
	color: var(--clr-darkgold);
}
.reset-names-btn:active{
	background-color: var(--clr-light);
	color: var(--clr-darkgold);
}

#search-pokemon, #search-pokemon::placeholder {
	font-family: 'ArcadeClassic', sans-serif;
	background-color: var(--clr-blue);
	color: var(--clr-light);
	border-color: var(--clr-light);
	letter-spacing: 0.11em;
	border-radius: 8px;
}	
#search-pokemon {
	margin-left: 2rem;
	margin-top: 1rem;
}

.pokedex-title, .reserver {
	text-align: center;
	margin-top: 0.5em;
	color: var(--clr-red);
	font-size: 2.5em;
	letter-spacing: 0.2em;
}

#pokedex-list, #champions-list, #reserve-list {
	padding-inline-start: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(1, 200px);
	justify-content: center;
	gap: 1em;
	margin: 1em 0 1em;
}

/* use this class to style all <li> elements */
.poke-card {
	display: flex;
    flex-direction: column;
    align-items: center;
	text-transform: uppercase;
	text-align: center;
	border: 2px solid var(--clr-red);
	background-color: var(--clr-light);
	border-radius: 5px;
}

.pokemon-name, .pokemon-id {
	color: var(--clr-blue);
	max-width: 100%;
	white-space: normal;
	word-wrap: break-word;
}

.pokemon-type {
	color: grey;
}

.promote, .kick{
	margin: 0 0 1em;
}

/* style for disabled buttons: */
/* .promote:disabled {
    background-color: #ccc;
} */

.nickname-input {
	margin-top: 1em;
}