:root {
	--clr-dark: #000000;
	--clr-light: #FFFFFF;
	--clr-grey: #DFDFDF;
	--clr-gold: #FFDE00;
	--clr-darkgold: #D5A100;
	--clr-blue: #0075BE;
	--clr-darkblue: #0A285F;
	--clr-red: #FF4500;

	/* --clr-red: rgb(255, 0, 0) */
}

.btn {
	font-weight: 600;
	letter-spacing: -0.05em;
	background-color: var(--clr-red);
	color: var(--clr-light);
	padding: 0.5em 1em;
	border-radius: 6px;
	transition: box shadow 0.3s;
}

.btn:active {
	background-color: var(--clr-light);
	color: var(--clr-red);
	box-shadow: 0 14px 28px rgba(255, 0, 0, 0.25),
	0 10px 10px rgba(255, 0, 0, 0.22), 0 0 120px -10px var(--clr-red);
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/* padding-left: 0.5rem;
	padding-right: 0.5rem; */
}

/* xxs */
@media (min-width: 350px) {
	.container {
		max-width: 350px;
	}

	.navbar {
		max-width: 350px;
	}
}

/* xs */
@media (min-width: 475px) {
	.container {
		max-width: 475px;
	}

	.navbar {
		max-width: 475px;
	}

}

/* sm */
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}

	.navbar {
		max-width: 640px;
	}

	.navbar > button {
		margin-top: 0;
	}

	#pokedex-list, #champions-list, #reserve-list {
		grid-template-columns: repeat(2, 200px);
	}
}

/* md */
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}

	.navbar {
		max-width: 768px;
	}

	.navbar > * {
		margin-top: 0;
	}

	#pokedex-list, #champions-list, #reserve-list {
		grid-template-columns: repeat(3, 200px);
	}
}

/* lg */
@media (min-width: 1024px) {
	.container {
		max-width: 1023px;
	}

	.navbar {
		max-width: 1024px;
	}

	.navbar > * {
		margin-top: 0;
	}

	#pokedex-list {
		grid-template-columns: repeat(4, 200px);
	}
	
}

/* xL */
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}

	.navbar {
		max-width: 1280px;
	}

	.navbar > * {
		margin-top: 0;
	}

	#pokedex-list {
		grid-template-columns: repeat(5, 200px);
	}
	
}

/* 2xL */
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}

	.navbar {
		max-width: 1536px;
	}

	.navbar > * {
		margin-top: 0;
	}

	#pokedex-list {
		grid-template-columns: repeat(6, 200px);
	}
} 