/* xs */
/* @media (min-width: 475px) { */

/* } */

/* sm */
/* @media (min-width: 640px) { */

/* } */

/* md */
/* @media (min-width: 768px) { */

/* } */

/* lg */
/* @media (min-width: 1024px) { */

/* } */
/* xL */
/* @media (min-width: 1280px) { */
	
/* } */

/* 2xL */
/* @media (min-width: 1536px) { */
	
/* }  */

:root {
	/* lägg till varibaler med färger här */
	--clr-dark: #000000;
	--clr-light: #FFFFFF;
	--clr-grey: #DFDFDF;
	--clr-gold: #FFDE00;
	--clr-darkgold: #D5A100;
	--clr-blue: #0075BE;
	--clr-darkblue: #0A285F;
	--clr-red: #FF0000;

	/* --clr-red: rgb(255, 0, 0) */
}

.btn {
	font-weight: 600;
	letter-spacing: -0.05em;
	background-color: var(--clr-red);
	color: var(--clr-light);
	padding: 0.5em 1em;
	border-radius: 6px;
	transition: box shadow 0.3s;
}

.btn:active {
	background-color: var(--clr-light);
	color: var(--clr-red);
	box-shadow: 0 14px 28px rgba(255, 0, 0, 0.25),
	0 10px 10px rgba(255, 0, 0, 0.22), 0 0 120px -10px var(--clr-red);
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}


/* xs */
@media (min-width: 475px) {
	.container {
		max-width: 475px;
	}
}

/* sm */
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
	#pokedex-list {
		grid-template-columns: repeat(2, 200px);
	}

	#champions-list {
		grid-template-columns: repeat(2, 200px);
	}
}

/* md */
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
	#pokedex-list {
		grid-template-columns: repeat(3, 200px);
	}
	#champions-list {
		grid-template-columns: repeat(3, 200px);
	}
}

/* lg */
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
	#pokedex-list {
		grid-template-columns: repeat(4, 200px);
	}
	
}
/* xL */
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
	#pokedex-list {
		grid-template-columns: repeat(5, 200px);
	}
	
}

/* 2xL */
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
	#pokedex-list {
		grid-template-columns: repeat(6, 200px);
	}
} 